@(hotelId: Long, apartmentForm: Form[Apartment])

@import helper._

@main {
    @form(routes.Apartments.saveApartment(hotelId)) {

        Title: <input type="edit" name="title" value=""> <br/>

        Apartment type:

        <select name="apartmentTypeId">
            @for(apartmentType <- ApartmentType.all()){
                <option value="@apartmentType.id">@apartmentType.title</option>
            }
        </select><br/>

        Capacity: <input type="edit" name="capacity" value=""> <br/>

        <input type="submit" value="Save"><br/>
    }
}