@(apartmentId: Long)

@import helper._

@main {
    <div class="box-header">
        <i class="icon-comments"></i> New proposal
    </div>
    <div class='hpadded'>
        <form action="/apartment/@apartmentId/proposal/save" method="post" class='form-horizontal'>
            <div class="input-prepend input inline force-med-width">
                <span class="add-on"><i class='icon-calendar'></i></span>
                <input type="text" name="dateFrom" value="" placeholder="From:" class='input-large ui-datepicker'>
            </div>
            <div class="input-prepend input inline force-med-width">
                <span class="add-on"><i class='icon-calendar'></i></span>
                <input type="text" name="dateTo" value="" placeholder="To:" class='input-large ui-datepicker'>
            </div>
            <div class="input inline">
                <input type="text" name="price" value="" placeholder="Price:" class='input-medium'>
            </div>
            <input type="submit" value="Save" class="btn btn-small dark-blue inline btn-submit">
        </form>
    </div>
}