@(apartmentProposal: ApartmentProposal, proposalForm: Form[ApartmentProposal])

@import helper._

@main {
    @if(apartmentProposal != null) {
        @form(routes.ApartmentProposals.update(apartmentProposal.id)) {

            DateFrom: <input type="edit" name="dateFrom" value="@apartmentProposal.dateFrom"> <br/>
            DateTo: <input type="edit" name="dateTo" value="@apartmentProposal.dateTo"> <br/>
            Price: <input type="edit" name="price" value="@apartmentProposal.price"> <br/>


            <input type="submit" value="Save"><br/>
        }
    }
}