@(apartmentHistories: List[ApartmentHistory])
@import helpers.DatabaseHelper
@import helpers.FormatHelper

@main {
    <div class="box-header">
        <i class="icon-comments"></i> Purchase histories
        <div class="pull-right"><i class="icon-print print-e" data-print='#printTable'></i></div>
    </div>
    <div class='hpadded'>
        <table class="table table-striped data-table-a" id="printTable">
            <thead>
                <tr>
                    <th>Apartment</th>
                    <th>Booked from</th>
                    <th>Booked to</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @apartmentHistories.map{ history =>
                    <tr>
                        <td>@history.proposal.apartment.title</td>
                        <td>@FormatHelper.formatDate(history.bookedFrom)</td>
                        <td>@FormatHelper.formatDate(history.bookedTo)</td>
                        <td>@history.client.firstName</td>
                        <td>@history.client.lastName</td>
                        <td>@history.client.email</td>
                        <td>@FormatHelper.formatPrice(DatabaseHelper.getFullPrice(history.id)) Ls</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>


}