@(hotelServiceForm: Form[HotelService])

@import helper._

@main {
<div class="box-header">
    <i class="icon-comments"></i> Create hotel service
</div>
<div class='hpadded'>
    <form action="/hotelService/save" method="post" class='form-horizontal'>
        <div class="input inline">
            <input type="text" name="alias" value="" placeholder="Alias" class='input-large'>
        </div>
        <div class="input inline">
            <input type="text" name="name" value="" placeholder="Name" class='input-large'>
        </div>
        <div class="input inline">
            <input type="text" name="price" value="" placeholder="Price" class='input-medium'> <br/>
        </div>
        <input type="submit" value="Save" class="btn btn-small dark-blue inline btn-submit">
    </form>
</div>
}