@(hotelForm: Form[Hotel])

@import helper._

@main {
<div class="box-header">
    <i class="icon-link"></i> New hotel
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="hpadded" style="padding-left: 13px;">
            <form action="/hotel/save" class="form-inline" method='post'>
                <div class="input inline">
                    <input type="text" name="name" placeholder="Name">
                </div>
                <div class="input inline">
                    <input type="text" name="address" placeholder="Address">
                </div>
                <input type="submit" value="Save" class="btn btn-small dark-blue inline btn-submit">
            </form>
        </div>
    </div>
</div>
}