@(hotels: List[Hotel], hotelForm: Form[Hotel])

@import helper._

@main {
    <div class="box-header">
        <i class="icon-comments"></i> Total of @hotels.size hotels
    </div>
    <div class="hpadded">
        <ul class="recent-comments"> @hotels.map { hotel =>
            <li class="comment-box">
                <div class="post-info"> @hotel.address </div>
                <div class="post-content-preview"> @hotel.name</div>

                <div class="article-actions">
                    <a href="/hotel/@hotel.id" class="btn btn-mini light-blue inverse">Edit</a>
                    <a href="/hotel/@hotel.id/delete" class="btn btn-mini dark-blue delete-link" data-delete-parent='.comment-box'>Delete</a>
                </div>
            </li>

        }
            <li class="comment-box view-more" style="text-align: center">
                <a href="/hotel/new">Add new</a>
            </li>
        </ul>
    </div>
}