@(hotel: Hotel, hotelForm: Form[Hotel])

@import helper._

@main {
    @defining(if (hotel != null){ hotel.id.toString } else {""}){ hotelId =>
        @form(routes.Hotels.saveHotel, 'id -> hotelId) {
            @defining(
                (if (hotel != null){ hotel.name } else {""},
                 if (hotel != null){ hotel.address } else {""})){ case (hotelName, hotelAddress) =>

                Name: <input type="edit" name="name" value="@hotelName"> <br/>
                Address: <input type="edit" name="address" value="@hotelAddress"> <br/>

                <input type="submit" value="Save">
            }
        }
    }
}