@(hotelService: HotelService, hotelServiceForm: Form[HotelService])

@import helpers.FormatHelper

@main {
    @if(hotelService != null) {
        <div class="box-header">
            <i class="icon-comments"></i> Create hotel service
        </div>
        <div class='hpadded'>
            <form action="/hotelService/@hotelService.id/update" method="post" class='form-horizontal'>
                <div class="input inline">
                    <input type="text" name="alias" value="@hotelService.alias" placeholder="Alias" class='input-large'>
                </div>
                <div class="input inline">
                    <input type="text" name="name" value="@hotelService.name" placeholder="Name" class='input-large'>
                </div>
                <div class="input inline">
                    <input type="text" name="price" value="@FormatHelper.formatPrice(hotelService.price)" placeholder="Price" class='input-medium'> <br/>
                </div>
                <input type="submit" value="Save" class="btn btn-small dark-blue inline btn-submit">
            </form>
        </div>
    }
}